body {
  color: #000000;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  min-width: 900px;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
}

.main-header {
  background: #eeeeee;
  margin-bottom: 80px;
  padding-top: 27px;
}

.header-top {
  margin-bottom: 60px;
}

.main-logo {
  float: left;
  margin-right: 20px;
  width: 140px;
}

.main-logo img {
  height: 56px;
  width: 139px;
}

.main-navigation {
  float: left;
  padding-left: 160px;
  margin-top: 16px;
  width: 460px;
}

.main-navigation ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: top;
}

.main-navigation a {
  color: #000000;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.main-navigation-current {
  position: relative;
}

.main-navigation-current::after {
  background-color: #fb565a;
  bottom: 12px;
  content: "";
  height: 2px;
  left: 20px;
  position: absolute;
  right: 20px;
}

.main-navigation-current span {
  display: block;
  padding: 10px 20px;
}

.user-block {
  float: right;
  margin-top: 16px;
  width: 100px;
}

.cart {
  color: #000000;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 0;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.cart::before {
  content: "";
  background: url("../img/sprite.png") no-repeat;
  background-position: -20px -20px;
  height: 15px;
  left: 6px;
  position: absolute;
  top: 17px;
  width: 15px;
}

.main-navigation a:hover,
.cart:hover{
  color: #fb565a;
}

.main-navigation a:active,
.cart:active {
  color: #ababab;
}

.cart:hover::before {
  background-position: -20px -75px;
}

.cart:active::before {
  opacity: 0.5; /* TODO: Верное ли значение, в мекете стоит 15% */
  background-position: -20px -20px;
}

.header-title {
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  width: 700px;

  outline: 1px dashed red;
}

.item-content {
  float: left;
  margin-right: 70px;
  width: 470px;
}

.item-background {
  float: right;
  width: 340px;
}

.btn {
  background-color: #fb565a;
  border: none;
  border-radius: 3%;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 16px;
  outline: none;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.main-carousel {
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
  width: 880px;
}

.main-carousel-item {
  background-position: 100% 10px;
  background-repeat: no-repeat;
  min-height: 310px;
}

.main-carousel input[type="radio"] {
  display: none;
}

.main-carousel-slider {
  bottom: 70px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  width: 200px;
}

.main-carousel-slider label {
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  width: 4px;
}

.item-content {
  padding: 30px 0;
  width: 480px;
}

.content-name {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.item-content p {
  color: #283136;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.item-content .btn {
  margin-top: 25px;
  padding: 12px 70px;
}

.main-carousel-item:nth-child(1) {
  background-image: url("../img/index-carousel1.png");
}

.main-carousel-item:nth-child(2) {
  background-image: url("../img/index-carousel2.png");
}

.main-carousel-item:nth-child(3) {
  background-image: url("../img/index-carousel3.png");
}

.main-carousel-item {
  display: none;
}

#btn-1:checked ~ .main-carousel-items .main-carousel-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .main-carousel-items .main-carousel-item:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .main-carousel-items .main-carousel-item:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .main-carousel-slider label[for="btn-1"],
#btn-2:checked ~ .main-carousel-slider label[for="btn-2"],
#btn-3:checked ~ .main-carousel-slider label[for="btn-3"] {
  background: #c1c1c1;
}

.main-features {
  margin-bottom: 80px;
}

.main-features::after,
.main-description::after,
.main-gallery::after {
  border-bottom: 2px solid #eeeeee;
  display: block;
  content: "";
  position: relative;
  top: 80px;
}

.main-features-item {
  float: left;
  margin-right: 80px;
  width: 240px;
}

.main-features-item:last-child {
  margin-right: 0;
}

.main-features-item img {
  height: 124px;
  margin-bottom: 25px;
  width: 240px;
}

.main-features-item .features-name {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.main-features-item p {
  font-size: 15px;
  line-height: 22px;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #01a25e;
}

.btn-green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #d6ae2c;
}

.btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}

.main-description {
  margin-bottom: 80px;
  padding-top: 60px;
}

.main-description::after {
  top: 70px;
}

/* TODO: Всем ли элементам необходимо прописывать размер шрифта, если он стандартный и указан в боди? */
.main-description-top {
  margin-bottom: 20px; /* TODO: Почему здесь такой отступ? */
}

.main-description-top h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 15px;
}

.main-description-left {
  float: left;
  margin-right: 20px;
  width: 620px;
}

.main-description-right {
  float: right;
  width: 240px;
}

.main-description-right img {
  margin-bottom: 27px;
  margin-left: 30px;
}

.description-foundation {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.description-foundation p {
  background: #ffffff;
  display: inline;
  margin: 0;
  padding: 0 14px;
  position: relative;
  z-index: 2;
}

.description-foundation::after {
  border-bottom: 2px solid #eeeeee;
  content: "";
  display: block;
  position: relative;
  top: -12px;
  z-index: 1;
}

.main-description-bottom h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.main-description-bottom ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-description-bottom li {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  margin-left: 37px;
  position: relative;
  vertical-align: top;
}

.main-description-bottom li::before {
  content: "";
  border: 1px solid red;
  display: block;
  left: -36px;
  position: absolute;
  top: 50%;
  width: 25px;
}

.main-gallery {
  font-size: 0;
  padding-bottom: 35px;
  padding-top: 40px;
}

.main-gallery::after {
  top: 35px;
}

.main-gallery-item {
  display: inline-block;
  margin-right: 130px;
  opacity: 0.2;
  vertical-align: middle;
}

.main-gallery-item:last-child {
  margin-right: 0;
}

.main-gallery-item:hover,
.main-gallery-item:active {
  opacity: 1;
}

.goods {
  margin-bottom: 80px;
}

.goods-filters {
  float: left;
  width: 240px;

  outline: 1px dashed red;
}

.filter-worth {
  margin-bottom: 45px;
  width: 240px;

  outline: 1px dashed red;
}

.filter-name {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.range-controls {
  background: #f1f1f1;
  border-radius: 5px;
  height: 41px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
  position: relative;
}

.range-controls .scale {
  background: #d7dcde;
  height: 2px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 4px;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  color: #283136;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  outline: none;
  padding: 8px 10px;
  text-align: center;
  width: 60px;
}

.goods-filters .grid {
  font-size: 16px;
  list-style: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
  cursor: pointer;
  display: block;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
}

input[type="radio"] + label::before {
  background-color: #ffffff;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 16px;
}

input[type="radio"]:checked + label::after {
  background-color: #c1c1c1;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 8px;
}

.goods-filters .feature {
  font-size: 16px;
  list-style: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

input[type="checkbox"] + label::before{
  background: url("../img/sprite.png") no-repeat;
  background-position: -20px -130px;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 23px;
}

input[type="checkbox"]:checked + label::before{
  background: url("../img/sprite.png") no-repeat;
  background-position: -20px -193px;;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 23px;
}

.show-btn {
  background-color: #f1f1f1;
  color: #000000;
  font-weight: 700;
}

.show-btn:hover {
  background-color: #e5e5e5;
}

.show-btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.goods-pages {
  float: right;
  width: 560px;

  outline: 1px dashed red;
}

.pages-filter {
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
  text-transform: uppercase;

  outline: 1px dashed red;
}

.pages-filter p {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
}

.pages-filter .sort {
  display: inline-block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort li {
  display: inline-block;
  font-size: 12px;
  margin-right: 45px;
}

.sort a {
  color: #b2b2b2;
  display: block;
  text-decoration: none;
}

/* TODO: Разобраться с логикой. Когда элемент подчеркнут? */
.sort-current {
  position: relative;
}

.sort-current::after {
  border-bottom: 1px dotted #00ca74;
  bottom: 0;
  content: "";
  left: 1px;
  position: absolute;
  right: 0px;
}

.pages-filter .ascdesc {
  display: block;
  position: relative;
}

.pages-filter .ascdesc::before {
	border-top: 10px solid #00ca74;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  content: "";
  height: 0;
  right: 15px;
  position: absolute;
  bottom: 8px;
  width: 0;
}

.pages-filter .ascdesc::after {
	border-bottom: 10px solid #c1c1c1;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  content: "";
  height: 0;
  right: 0;
  position: absolute;
  bottom: 8px;
  width: 0;
}

.goods-items {
  font-size: 0;

  outline: 1px dashed red;
}

.goods-item {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 80px;
  margin-right: 80px;
  vertical-align: top;
  width: 240px;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.goods-item-header {
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
  font-size: 0;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.goods-item-header li {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  height: 8px;
  margin-right: 6px;
  margin-top: 10px;
  width: 8px;
}

.goods-item:hover .goods-item-header {
  background-color: #797979;
}

.goods-item-content {
  position: relative;
}

.goods-item-content img {
  display:block;
  height: 240px;
  width: 240px;
}

.content-description {
  /*display: none;*/
  background-color: #ffffff;
  display: block;
  height: 200px;
  left: 20px;
  top: 20px;
  position: absolute;
  width: 200px;
}

.content-description p {
  margin: 0;
  text-align: center;
  padding: 0;
}

.content-description .name {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  margin-top: 35px;
  text-transform: uppercase;
}

.content-description .desc {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}

/* TODO: Выровнять кнопку */
.content-description .btn {

}

.main-footer {
  margin-top: 90px;
  margin-bottom: 75px;
}

.footer-map {
  margin-bottom: 75px;

  /* TODO: В первом приближении, потом заменю на интерактивную */
  background-image: url("../img/map.jpg");
  height: 416px;
  position: relative;
}

/* TODO: как правильно было сделать контакты? */
.footer-map .map-contacts {
  background-color: #ffffff;
  float: left;
  margin-left: 160px;
  margin-top: 90px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 5px;
  width: 210px;
}

.map-contacts .contacts-title {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.map-contacts p {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.map-contacts .contacts-phone {
  display: block;
  margin-bottom: 25px;
  margin-top: 20px;
}

/* TODO: Как правильно выровнять кнопку? */
.map-contacts .btn {
  margin-left: 15px;
}

.footer-map .map-pointer {
  float: right;
  width: 231px;

  position: absolute;
  bottom: 110px;
  left: 840px;
}

.footer-social {
  float: left;
  font-size: 0;
  width: 240px;
}

.social-btn {
  background: #e1e1e1 url("../img/sprite.png") no-repeat;
  border-radius: 50%;
  display: inline-block;
  height: 62px;
  margin-right: 27px;
  text-decoration: none;
  width: 62px;
}

.social-btn:last-child {
  margin-right: 0;
}

/* TODO: Как правильно центрировать иконки? Сейчас рассчитал */
.social-vk {
  background-position: -2px -355px;
}

.social-fb {
  background-position: 5px -236px;
}

.social-ig {
  background-position: 1px -297px;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.footer-sale {
  float: right;
  width: 550px;
}

.footer-sale h2 {
  margin: 0;
  margin-bottom: 10px;
}

.footer-sale p {
  margin: 0;
}

/*.sprite-cart {
    width: 15px;
    height: 15px;
    background-position: -20px -20px;
}

.sprite-cart-hover {
    width: 15px;
    height: 15px;
    background-position: -20px -75px;
}

.sprite-check-off {
    width: 23px;
    height: 23px;
    background-position: -20px -130px;
}

.sprite-check-on {
    width: 27px;
    height: 23px;
    background-position: -20px -193px;
}

.sprite-fb {
    width: 12px;
    height: 22px;
    background-position: -20px -256px;
}

.sprite-ig {
    width: 21px;
    height: 21px;
    background-position: -20px -318px;
}

.sprite-vk {
    width: 26px;
    height: 15px;
    background-position: -20px -379px;
}*/
