body {
  color: #000000;
  font-family: "Tahoma", sans-serif; /*"Roboto",*/
  font-size: 16px;
  font-weight: medium;
  line-height: 22px;
}

h1 {
  font-size: 40px;
  line-height: auto;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 880px;
}

.main-logo {
  float: left;
  margin-right: 20px;
  width: 140px;
}

.main-navigation {
  float: left;
  width: 560px;
}

.user-block {
  float: right;
  width: 100px;
}

.header-top {
  margin-bottom: 60px;
}

.header-title {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 700px;
}

.item-content {
  float: left;
  margin-right: 70px;
  width: 470px;
}

.item-background {
  float: right;
  width: 340px;
}

.main-carousel {
  margin-bottom: 80px;
}

.main-header {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  margin-right: 80px;
  width: 240px;
}

.features-item:last-child {
  margin-right: 0;
}

.features {
  margin-bottom: 80px;
}

.description-left {
  float: left;
  margin-right: 20px;
  width: 620px;
}

.description-right {
  float: right;
  width: 240px;
}

.description-top {
  margin-bottom: 50px;
}

.description {
  margin-bottom: 80px;
  margin-top: 80px;
}

.main-gallery {
  font-size: 0;
  /*text-align: center;*/
}

.gallery-item {
  display: inline-block;
  margin-right: 130px;
  vertical-align: middle;
}

.gallery-item:last-child {
  margin-right: 0;
}

.goods-filters {
  float: left;
  width: 240px;
}

.goods-pages {
  float: right;
  width: 560px;
}

.goods-items {
  font-size: 0;
}

.goods-item {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 80px;
  margin-right: 80px;
  width: 240px;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.goods {
    margin-bottom: 80px;
}

.main-footer {
  margin-top: 90px;
}

.map-contacts {
  float: left;
  width: 250px;
}

.map-pointer {
  float: right;
  width: 231px;
}

.footer-map {
  margin-bottom: 70;
}

.footer-social {
  float: left;
  width: 240px;
}

.footer-sale {
  float: right;
  width: 550px;
}
